@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="row-index">
    <div class="col-md-6">
        <h4 class="paragraph-text">
            MovieBase is an online database containing information about movies and TV shows as well as the ability to rent
            movies. This information also includes details about these movies and shows along with number of copies available.
        </h4>
        <br />
        <h4 class="paragraph-text">
            MovieBase's Admins utilize information from a variety of sources, such as the film's credits, official sources and
            from customer submissions. However customers have limited resources when interacting with the MovieBase site.
        </h4>

        <h4 class="paragraph-text">
            Customers can also rent out several movies and TV shows if they are available and have a expiration date for when
            to return them. Note that customers need to provide certain information before creating an account like a phone
            number.
        </h4>
    </div>

    <div class="col-md-6">
        <div class="form-horizontal">
            <img class="center-image" src="~/Content/img.jpg" />
        </div>
    </div>
</div>