body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 30px;
}

.navbar-brand {
    font-size: 24px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

label.error,
.validation-summary-errors,
.field-validation-error {
    color: red;
}

input.error,
.input-validation-error {
    border: 2px solid red;
}

.navbar-inverse {
    background-color: #E11823;
    border-color: #BF3754;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease-in-out .15s;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    border-bottom: 3px solid #fff;
    color: #fff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #860D32;
    background-color: transparent;
}

a, .btn-link {
    color: #09A7E4;
}

.btn-primary {
    color: #ffffff;
    background-color: #52656B;
    border: 0;
    padding: 8px 20px;
    border-radius: 10px;
    text-transform: none;
    font-weight: bold;
    font-size: 12px;
}

.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #52656B;
    background-color: #F4828C;
    margin-top: 0;
}

table a:not(.btn),
.table a:not(.btn) {
    text-decoration: none;
}

.form-control {
    height: 41px;
    box-shadow: none;
    transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #FF8598;
}

.center-image {
    width: 100%;
    display: block;
    margin: auto;
    padding-bottom: 5%;
}

#row-index {
    padding-top: 50px;
    padding-bottom: 10px;
}